@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300;1,400&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,900&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,500&family=Poppins:ital,wght@0,200;0,400;0,600;1,100;1,200;1,300;1,400&family=Roboto:ital,wght@0,300;0,400;1,100;1,300&display=swap');

* {
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.todolist {
  display: flex;
  padding: 12px;
  width: 98%;
  margin: 24px 24px;
  background-color: bisque;
  box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px, rgba(0, 0, 0, 0.3) 0 18px 36px -18px;
}

.save-todo {
  padding-left: 5px;
}

.heading,
.list-group,
.clear-complete {
  width: 98%;
}

.list-cont {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  margin: 12px;
  gap: 5px;
}

.checkbox-task {
  padding-left: 5px;
}

.list-container {
  display: flex;
  width: 98%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkbox-task.checked {
  text-decoration: line-through;
  color: blue;
}

.bin {
  float: right;
  display: none;
}

.refresh {
  float: right;
}

[contenteditable] {
  outline: none;
}

.emptylist {
  display: none;
}

.clear-complete {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  padding: 5px;
  border-radius: 10px;
  margin: 12px 12px;
  width: 50%;
}
